body {
  background-color: black;
  margin: 0px;
}

.canvas-background {
  margin-left: 665px;
  right: 100px;
}

.game-title {
  height: 150px;
  background-color: magenta;
}

.button-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.gamebtn {
  margin: 5px;
}


#game {
  position: absolute;
  left: 665px;
  border: 1px dashed;
  margin: auto;
  display: block;
  border-color: #FFFFFF;
}